.body {
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(252, 241, 241);
  transition: transform 0.3s ease-in-out;
  transform-origin: top left;
}

.body__subtitle {
  font-weight: 400;
}

.body_hidden {
  height: 0;
  transform: scaleY(0);
}
